<style>

input {
border-radius: 7px !important;
}

 .progress-steps li span{
		color: black;
}
#checkout-summary {
margin-top: 37px;
}

}
.error {
 font-size: 19px !important;
}
</style>

<% content_for :head do %>
  <%= javascript_include_tag states_url(:format => :js) %>
  <%= javascript_include_tag countries_url(:format => :js) %>
<% end %>

<div id="checkout" data-hook>  
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
  
  <div class="row-fluid" data-hook="checkout_header">
    <h1 class="columns three alpha" data-hook="checkout_title"><%= t(:checkout) %></h1>
    <div class="columns thirteen omega" data-hook="checkout_progress" style="margin-top: 27px;
"><%= checkout_progress %></div>
  </div>
  <% if @order.state != 'confirm' %>
      <div id="" data-hook="checkout_summary_box" class="span3">
        <%= render :partial => 'summary', :locals => { :order => @order } %>
      </div>
   <% end %>
  <div class="row-fluid" data-hook="checkout_content">
    <div class="columns <%= if @order.state != 'confirm' then 'span12' else 'alpha omega sixteen' end %>" data-hook="checkout_form_wrapper" style = "margin-top: 35px;">
     	 <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
		<% unless @order.email? %>
		  <p class="field" style='clear: both'>
		    <%#= form.label :email %><br />
		    <%= form.text_field :email , :placeholder => "Email" %>
		  </p>
		<% end %>
        		<%= render @order.state, :form => form %>
      	  <% end %>
    </div>    
    
  </div>

</div>
