<% address_id = address_type.chars.first %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
    <%= form.text_field :firstname, :class => 'required' ,:placeholder => t(:first_name), style:"width: 80%;"%>
    <%= form.text_field :lastname, :class => 'required' ,:placeholder => t(:last_name) ,style:"width: 80%;"%>
    <% if Spree::Config[:company] %>
      <%= form.text_field :company %>
    <% end %>
    <%= form.text_field :address1, :class => 'required' ,:placeholder => t(:street_address),style:"width: 80%;" %>
    <%= form.text_field :address2 ,:placeholder => t(:street_address_2),style:"width: 80%;"%>
    <%= form.text_field :city, :class => 'required' ,:placeholder => t(:city)%>
    <%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required',style:"width: 22%;"} %>
  
  <% if Spree::Config[:address_requires_state] %>
      <% have_states = !address.country.states.empty? %>
      <% state_elements = [
         form.collection_select(:state_id, address.country.states,
                            :id, :name,
                            {:include_blank => true},
                            {:class => have_states ? 'required' : 'hidden',
                            :disabled => !have_states}) +
         form.text_field(:state_name,
                            :class => !have_states ? 'required' : 'hidden',
                            :disabled => have_states)
         ].join.gsub('"', "'").gsub("\n", "")
      %>
      <%= javascript_tag do -%>
        $('#<%="#{address_id}state" %>').append("<%== state_elements %>");
      <% end %>
      <noscript>
        <%= form.text_field :state_name, :class => 'required' %>
      </noscript>
  <% end %>

  <%= form.text_field :zipcode, :class => 'required',:placeholder => t(:zip)  %>
  <%= form.phone_field :phone, :class => 'required',:placeholder => t(:phone)  %>
  <% if Spree::Config[:alternative_shipping_phone] %>
        <%= form.phone_field :alternative_phone,:placeholder => t(:alternative_phone) %>
  <% end %>
</div>
