<% address_id = address_type.chars.first %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
 <p class="field" id=<%="#{address_id}firstname" %>>
    <%= form.text_field :firstname, :class => 'required' ,:placeholder => t(:first_name)"%>
</p>
  <p class="field" id=<%="#{address_id}lastname" %>>    
    <%= form.text_field :lastname, :class => 'required' ,:placeholder => t(:last_name)%>
 </p>    
    <% if Spree::Config[:company] %>
    <p class="field" id=<%="#{address_id}company" %>>
      <%= form.text_field :company %>
    </p>  
    <% end %>
    <p class="field" id=<%="#{address_id}address1" %>>
    <%= form.text_field :address1, :class => 'required' ,:placeholder => t(:street_address) %>
    </p>
  <p class="field" id=<%="#{address_id}address2" %>>
    <%= form.text_field :address2 ,:placeholder => t(:street_address_2)%>
    </p>
  <p class="field" id=<%="#{address_id}city" %>>
    <%= form.text_field :city, :class => 'required' ,:placeholder => t(:city)%>
    </p>
  <p class="field" id=<%="#{address_id}country" %>>
  <span id=<%="#{address_id}country-selection" %>>
    <%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required',style:"width: 22%;"} %>
   </span>
  </p>
 
  <% if Spree::Config[:address_requires_state] %>
  <p class="field" id=<%="#{address_id}state" %>>
      <% have_states = !address.country.states.empty? %>
      <% state_elements = [
         form.collection_select(:state_id, address.country.states,
                            :id, :name,
                            {:include_blank => true},
                            {:class => have_states ? 'required' : 'hidden',
                            :disabled => !have_states}) +
         form.text_field(:state_name,
                            :class => !have_states ? 'required' : 'hidden',
                            :disabled => have_states)
         ].join.gsub('"', "'").gsub("\n", "")
      %>
      <%= javascript_tag do -%>
        $('#<%="#{address_id}state" %>').append("<%== state_elements %>");
      <% end %>
      </p>
      <noscript>
        <%= form.text_field :state_name, :class => 'required' %>
      </noscript>
  <% end %>
<p class="field" id=<%="#{address_id}zipcode" %>>
  <%= form.text_field :zipcode, :class => 'required',:placeholder => t(:zip)  %>
  </p>
  <p class="field" id=<%="#{address_id}phone" %>>
  <%= form.phone_field :phone, :class => 'required',:placeholder => t(:phone)  %>
   </p>
  <% if Spree::Config[:alternative_shipping_phone] %>
  <p class="field" id=<%="#{address_id}altphone" %>>
        <%= form.phone_field :alternative_phone,:placeholder => t(:alternative_phone) %>
        </p>
  <% end %>
</div>
