
<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if products.any? %>
<ul id="products" class="thumbnails" data-hook>
  <% products.each do |product| %>
    <% if product.on_display? %>
	<li class="span4">
	   <div class="thumbnail">
		<%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
		    <div class="caption">
			<h5><%= truncate(product.name, :length => 50)%></h5>
			    <p> 
			    </p>
				  <h4><%= link_to "VIEW", product, :itemprop => 'url' ,:class=>"btn btn-large" %><span class="pull-right"><%= product.price_in(current_currency).display_price %></span></h4>
				</div>
			  </div>
			</li>
<% end %>
  <% end %>
  <% reset_cycle("classes") %>
</ul>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>
