<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body" >
    <script type="text/javascript">
      $(function(){
        $('#guest_checkout input[type=submit]').css({'border': 'gray' , 'background':'gray'})
        $('.carousel').carousel();
      });

    </script>
    <style>


a.btn{
text-transform: uppercase;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
color: black;
}


      body{
  	background: #fafafa url("http://s3.amazonaws.com/wrapbootstrap/live/imgs/content_inner_bg.png");
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
      }

#wrapper{
background: whitesmoke !important; 
}

   
#existing-customer, #new-customer, #forgot-password {
padding-left:0px !important;
} 
      #existing-customer{
        width: 592px !important;    	
      }
      .progress-steps li.current-first, .progress-steps li.current {
        background-color: #00adee!important;
        color: #fff;
        border-left: 5px solid #00adee;
        border-right: 5px solid #00adee;
      }
      .progress-steps li span {
        color: rgb(175, 137, 137)!important;
      }

      .progress-steps li {
        color : black !important;
      }
      .nowrap{
        margin-bottom: -4px!important;
      }
      .add-to-cart #add-to-cart-button {
        margin-left: 0px!important;
      }
      #sidebar {
        margin-left: 0px!important; 
        background : whitesmoke !important;      
      }
      .nav-data li{
        font-size: 22px;
        margin: 16px;
        float : left;
      }


      .carousel img {
        width : 100%;
      }
      .container .eight.columns {
        width: 391px !important;
      }

.container {
width: 1170px !important;
}

.thumbnail>a {
display: block;
text-align: center;
}
a, a:hover {
color: #444;
}
.bs-docs-sidenav, .btn, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
    </style>
    <style>
      #breadcrumbs{background-color: #F5F5F5;
                   border-radius: 4px 4px 4px 4px;
                   list-style: none outside none;
                   margin: 0 0 20px;
                   padding: 8px 15px;}
      ul#products li {
        background: #fff;
        width: 267px;
	margin-left: 28px;
	margin-top: 24px;
      }
.thumbnail {
background: #fff;
position: relative;
border: 1px solid white;
}
#header{
margin-bottom: -37px;
}
      
      #sidebar{
        background: rgb(213, 164, 164);
      }
      .product-image img {
        max-width: 163%;
        width: 190px;
      }
      input.gray[type="submit"], input.gray[type="button"], input.gray[type="reset"], button.gray, a.button.gray {
        margin-top: 12px;
        font-family :"Ubuntu",sans-serif ;
      }
      .btn-group .taxons-list li {margin-left: -24px;
                                  padding-left: 20px;}
      #reviews a {
         color: black;
              }

      .form-buttons input{background-color: #8dba53;
                          color: white;
                          border-color: #d5e6c0;}


      #checkout
      {background: whitesmoke;
       padding-left: 6px;
       padding-top: 6px;}

      #main-image {
        border: 0px !important;}

      #product-thumbnails li a{
        border-radius: 0 !important;
      }

#footerSection a:hover {
background: #eee;
}
input[type="submit"]{
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
line-height: 20px;
color: #333;
text-align: center;
text-shadow: 0 1px 1px rgba(255,255,255,0.75)  !important;
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5  !important;
background-image: -moz-linear-gradient(top,#fff,#e6e6e6) !important;
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6)) !important;
background-image: -webkit-linear-gradient(top,#fff,#e6e6e6) !important;
background-image: -o-linear-gradient(top,#fff,#e6e6e6) !important;
background-image: linear-gradient(to bottom,#fff,#e6e6e6) !important;
background-repeat: repeat-x;
border: 1px solid white !important;
border-color: #e6e6e6 #e6e6e6 #bfbfbf !important;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) !important;
border-bottom-color: #b3b3b3 !important;
-webkit-border-radius: 4px !important;
-moz-border-radius: 4px !important;
border-radius: 4px !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0) !important;
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05) !important;
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05) !important;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05) !important;
}
input[type="submit"]:hover{
color:black;
}
.navbar .nav>li>a:hover {
color: white;
}
.navbar .nav>li:hover {
background-color: black;	
}
.nav .active .dropdown-toggle .caret {
border-top-color: black;
border-bottom-color: black;
}

.cart-item-total { 
color: black !important;
font-size: 18px !important;
}
dl dd {
margin-left: 2px;
}
.cart-item-price{
	font-size: 18px !important;
	color: black !important;;
}
    </style>
    <div class="container" >
      <div class = "row-fluid">	
        <div class = "row-fluid">
          <div style="float: left;">
            <%= link_to image_tag("IUTFinalLogo.jpg",:width => "220") , "/" %>
          </div>
          <div style="margin-left: 24px;float: left;width: 79%;text-align: center;">
            <div class = "row-fluid">	   
              <%= render :partial => 'spree/shared/search' %>
            </div> 
          </div>
        </div>
        <div id="promo-sale-container" class="row-fluid" style="top: 83px;position: absolute;">
          <div id="promo-sale"><!--InstanceBeginEditable name="Content" -->
            <div class="column1" style = "float: left;"><img src="/assets/ribbon-left.png" width="664" height="28"></div>
            <div class="column2"><img src="/assets/bow.png" width="164" height="104" style="float: left;margin-top: -17px;float: left;"></div>
            <div class="column3"><img src="/assets/ribbon-right.png" alt="Click For Details" width="342" height="28"></div>
          </div>
        </div>


<div class="navbar" style="margin-top: 28px;margin-bottom: 0px;">
    <div class="navbar-inner">
      <div>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><%= link_to root_path do %><i class="icon-home"></i>&nbsp;<%=t(:home)%> <%end%></li>
              <li><a href="/about_us"><i class="icon-info-sign"></i> About Us</a></li>
              <li><a href="/contact_us"><i class="icon-book"></i> Contact us</a></li>
              <li><a href="/services"><i class="icon-upload"></i> services</a></li>
	   </ul>
	   <ul class = "pull-right nav">	
              <li id="link-to-cart" data-hook><%= link_to_cart  do %> <i class="icon-upload"></i><%end%></li>
              <%= render :partial => 'spree/shared/nav_bar' %>
            </ul>
          </div><!--/.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>
        <%= render :partial => 'spree/shared/header' %>
        <br/>
        <div id="wrapper" class="row-fluid" data-hook>
          <%= breadcrumbs(@taxon) %>
          <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>
          <div id="content" class="span<%= !content_for?(:sidebar) ? '12' : '8' %>" data-hook>
            <%= flash_messages %>
            <%= yield %>
          </div>
        </div>
        <%#= render :partial => 'spree/shared/footer' %>
      </div>
      <%= render :partial => 'spree/shared/google_analytics' %>
    </div>



<hr/>
<div id="footerSection">
	<div class="container">
		<div class="row-fluid">
			<div class="span3">
				<h5>Company</h5>
				<a href="/about_us">About Us</a>
				<a href="/contact_us">Contact</a>
				
			 </div>
			<div class="span3">
				<h5>Resource</h5>
				<a href="/affilates">Affilates</a>  
				<a href="/faq">FAQ</a>
				<a href="/donation">Donation</a>  
				<a href="/sitemap">site Map</a>
				<a href="/private_polices">private polices</a> 
				
			 </div>
			
			<div id="socialMedia" class="span3">
				<h5>SOCIAL MEDIA </h5>
				<a href="https://www.facebook.com/ugtreats"><img width="30" height="30" src="http://wbpreview.com/previews/WB0082KT2/themes/images/facebook.png" title="facebook" alt="facebook"></a>
				<a href="https://twitter.com/UGTreats"><img width="30" height="30" src="http://wbpreview.com/previews/WB0082KT2/themes/images/twitter.png" title="twitter" alt="twitter"></a>
				<a href="#"><img width="30" height="30" src="http://wbpreview.com/previews/WB0082KT2/themes/images/rss.png" title="rss" alt="rss"></a>
				<a href="#"><img width="30" height="30" src="http://socialsolutionscollective.com/wp-content/uploads/2013/03/google-Plus-icon.png"></a>
			 </div> 
		 </div>
		 <hr class="soft">
		
	</div><!-- /container -->
	</div>






    <style>
      #sidebar li, #similar_items_by_taxon li {
        border-bottom: medium none !important;
        border-top: medium none!important;
      }
      #footerSection a {
font-size: 11px;
padding: 0 13px;
line-height: 24px;
display: block;
}
h1, h2, h3, h4, h5, h6 {
margin: 10px 0;
font-family: inherit;
font-weight: bold;
line-height: 20px;
color: inherit;
text-rendering: optimizelegibility;
}
    </style>

  </body>
</html>
